.table-stayled{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    /* max-width: 1000px; */
    /* width: 900px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .table-stayled thead tr {
    background-color: #2C2A4A;
    color: #fff;
    text-align: left;
  }
  .table-stayled th,
  .table-stayled td {
    padding: 12px 15px;
  }
  
  .table-stayled tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-stayled tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .table-stayled tbody tr:hover {
    background-color: #DABFFF;
    color: white;
  }
  .table-stayled tbody tr:last-of-type {
    border-bottom: 1px solid #2C2A4A;
  }
  .btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-edit {
    background-color: #2C2A4A;
  }
  .btn-delete {
    background-color: #531605;
  }
  .btn-view {
    background-color: rgb(54, 54, 46);
    color: white;
  }
  .dropdown {
    width: 20%;
    margin: 5px;
  }
  .btn-reset {
    background-color: #2C2A4A;
    color: white;
  }
  .btn-active{
    background-color: rgba(14, 118, 14, 0.644);
    color: white;
  }
  .btn-inactive{
    background-color: #f10e30cc;
    color: white;
  }
  